@import url('https://fonts.googleapies.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --main-color: #007bff;
    --font-size: 16px;
}
body{
    width: 1000px;
    margin:0 auto;
}
h1 {
    color: var(--primary-color);
    box-sizing: border-box;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 120px;
    
}
article{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: rgba(221, 221, 221, .70);
    color:#000;
    position: absolute;
    top: 300px
    
}
.hero img {
    width: 100%;
    height: auto;
}
.hero article img{
    float:right;
    width: 150px;
    padding: 1rem;

}
h2{

    color: #2c1212
}
p section {
    color: #2c1212;
}
.hero{
    position:relative;
}